<a href="https://colab.research.google.com/github/SANKARMOHAN/DSA_assignments/blob/main/CaseStudy_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

In [4]:
#reading data
data = pd.read_csv("Sales_add.csv")
data.head()

     Month  ... Sales_After_digital_add(in $)
0  Month-1  ...                        270390
1  Month-2  ...                        223334
2  Month-3  ...                        244243
3  Month-4  ...                        231808
4  Month-5  ...                        258402

[5 rows x 5 columns]

***The company wishes to clarify whether there is any increase in sales after stepping into digital marketing.***

In [7]:
tvalue ,pvalue = stats.ttest_ind(data["Sales_After_digital_add(in $)"],data["Sales_before_digital_add(in $)"])
tvalue

12.995084451110877

In [8]:
pvalue

2.614368006904645e-16

In [9]:
#calculating degrees of freedom
dof = len(data["Sales_After_digital_add(in $)"]) + len(data["Sales_before_digital_add(in $)"]) -2
dof

42

In [21]:
#calculating critical value
critical = stats.t.ppf(1-0.05 ,42)
critical

1.6819523559426

In [22]:
#null hypothesis is 'No increase in sales' & Alternative hypothesis is 'increase in sales'.
if np.abs(tvalue) > critical:
  print("Rejecting null hypothesis" )
else:
  print("Rejecting Alternate hypothesis")

Rejecting null hypothesis

which means there is an increase in sales.

***The company needs to check whether there is any dependency between the features “Region” and “Manager”***

In [12]:
data

       Month  ... Sales_After_digital_add(in $)
0    Month-1  ...                        270390
1    Month-2  ...                        223334
2    Month-3  ...                        244243
3    Month-4  ...                        231808
4    Month-5  ...                        258402
5    Month-6  ...                        256948
6    Month-7  ...                        222106
7    Month-8  ...                        230637
8    Month-9  ...                        226261
9   Month-10  ...                        193735
10  Month-11  ...                        203175
11  Month-12  ...                        276279
12  Month-13  ...                        205180
13  Month-14  ...                        253131
14  Month-15  ...                        229336
15  Month-16  ...                        187305
16  Month-17  ...                        234908
17  Month-18  ...                        191517
18  Month-19  ...                        227040
19  Month-20  ...                        212579
20  Month-21  ...                        263388
21  Month-22  ...                        243020

[22 rows x 5 columns]

In [13]:
data["Region"].value_counts()

Region - A    10
Region - B     7
Region - C     5
Name: Region, dtype: int64

In [14]:
data["Manager"].value_counts()

Manager - A    9
Manager - B    7
Manager - C    6
Name: Manager, dtype: int64

In [15]:
dct = pd.crosstab(data["Region"] ,data["Manager"] , margins = False)
dct

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [17]:
from scipy.stats import chi2_contingency
stat,p,dof,expected = chi2_contingency(dct)
p

0.5493991051158094

In [24]:
#null hypothesis is no dependency between the features & alternative hypothesis is dependency between features
alpha = 0.05
if p<= alpha:
  print("There is a dependency between features")
else:
  print("There is no dependency between the features")

There is no dependency between the features